/* _content/TicketProject/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hmg7puhhj1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hmg7puhhj1] {
  color: #0077cc;
}

.btn-primary[b-hmg7puhhj1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hmg7puhhj1], .nav-pills .show > .nav-link[b-hmg7puhhj1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hmg7puhhj1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hmg7puhhj1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hmg7puhhj1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hmg7puhhj1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hmg7puhhj1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TicketProject/Areas/Customer/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4199f9qlyq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4199f9qlyq] {
  color: #0077cc;
}

.btn-primary[b-4199f9qlyq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4199f9qlyq], .nav-pills .show > .nav-link[b-4199f9qlyq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4199f9qlyq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4199f9qlyq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4199f9qlyq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4199f9qlyq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4199f9qlyq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TicketProject/Areas/Employee/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-erpphg8olo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-erpphg8olo] {
  color: #0077cc;
}

.btn-primary[b-erpphg8olo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-erpphg8olo], .nav-pills .show > .nav-link[b-erpphg8olo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-erpphg8olo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-erpphg8olo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-erpphg8olo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-erpphg8olo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-erpphg8olo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TicketProject/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gdim0y9dp6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gdim0y9dp6] {
  color: #0077cc;
}

.btn-primary[b-gdim0y9dp6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gdim0y9dp6], .nav-pills .show > .nav-link[b-gdim0y9dp6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gdim0y9dp6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gdim0y9dp6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gdim0y9dp6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gdim0y9dp6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gdim0y9dp6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
