@model List<int>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{ if (ViewBag.ticketnumber != null)
    {
        <div style="background-color:limegreen;text-align:center;border-radius:10px;">
    
            <h3>Ticket Created Successfully with TicketNumber:@ViewBag.ticketnumber</h3>

         </div>
    }

}

<body>
    <div class="row customer-row bounce-in-left" >
        <div class="col-lg-4 col-sm-12">
        <div style="width: 100%; height: 500px;border-radius: 10px;">
             <img src="~/warning.png" class="createImages">             
             <h1 style="position:relative;top:60px;">Create Ticket</h1>
            
             <a asp-action="CreateTicket" asp-controller="Ticket" class="btn btn-outline-dark" 
                style="width:100px;height:100px; margin-top:100px;"><h1 style="font-size:500%;position:relative;bottom:15px;">+</h1></a>
             
             </div>
        </div>

        <div class="col-lg-4 col-sm-12">

            <div style="width: 100%; height: 500px;">

                <canvas id="ticketstatuschart" style="width:100%;height:85%"></canvas>


                <a asp-action="TicketFindList" asp-controller="Ticket" class="btn btn-outline-dark" style="margin-top:20px;">List All Tickets</a>


            </div>
        </div>
        <div class="col-lg-4 col-sm-12"><div class="infoUser">
            <img src="~/employees.png" class="createImages">
            <h2>Hoşgeldiniz</h2>
            <br />
            <h3>@ViewBag.Name  @ViewBag.surName</h3>
            <br />
            <h3>Saat : @ViewBag.signInDate</h3>
            <br />
            <a asp-action="SignOutCustomer" asp-controller="Home" class="btn btn-outline-danger">SignOut</a>
        </div>
        </div>
           
        </div>



    <script>
        var xvalues = ["Sended Tickets", "Tickets on review", "Closed Tickets"];
        var yvalues = [@Model[0],@Model[1],@Model[2]];
        var chartColors = [
        "#00FF00",
        "#0000FF",
        "#FFFF00"
        ];
        var chart = document.getElementById("ticketstatuschart");
        if (yvalues.reduce((x, y) => x + y,0) != 0) {
            new Chart(chart, {
                type: "doughnut",
                data: {
                    labels: xvalues,
                    datasets: [{
                        backgroundColor: chartColors,
                        data: yvalues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Your Ticket Status Chart"
                    },

                }
            });
        }
      
        else {
            new Chart(chart, {
                type: "doughnut",
                data: {
                    labels : ["No Ticket Belongs to You"],
                    datasets: [{
                        backgroundColor: "#FFFFFF",
                        data: [1]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "There is no active tickets belongs to you"
                    },

                }
            });
        }
    </script>
     
</body>